{% extends "header.html" %}

{% block body %}

<h1>Welcome to smart home login page!</h1>
<form action="/login" method="POST" class="form">
    <div class="mb-3">
        <label for="InputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="InputUsername" name="username">
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword" name="pass">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if error %}
<br>
<div class="alert alert-danger" role="alert">
    <span>{{ error }}</span>
</div>
{% endif %}

{% endblock %}